input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
.sc-hRJfrW {
    color: #3aa89b !important;
    font-size: 17px !important;
}
.sc-cfxfcM {
    background-color: #dff2f0 !important;
}
.sc-gFAWRd {
    background-color: white !important;
    border-color: #3aa89b !important;
}
.gCBXtb {
    color: #3aa89b !important;
}
.sc-JrDLc {
    color: #2a8178 !important;
}
.sc-hCPjZK {
    color: #3aa89b !important;
}
.sc-fBWQRz:hover {
    background-color: #dcf7f4 !important;
}
.sc-ibQAlb {
    color: #68738d !important;
}

.sc-jaXxmE {
    outline-color: #3aa89b !important;
}
.sc-jGKxIK {
    --tw-ring-color: white !important;
}
.sc-cPiKLX {
    color: #3aa89b !important;
    background-color: white !important;
    border-color: #dcf7f4 !important;
}
.daJpze {
    background-color: white !important;
    //border-color: black !important;
    border-radius: 40px !important;
    border: 1rem solid #dcf7f4 !important;
}

h2 {
    font-family: "Roboto", sans-serif !important;
}
.customed-gradient {
    background: rgb(220, 247, 244);
    background: linear-gradient(
        0deg,
        rgba(220, 247, 244, 0) 0%,
        rgba(220, 247, 244, 0.6839110644257703) 50%,
        rgba(220, 247, 244, 1) 100%
    );
}
.customed-double-gardient {
    background: radial-gradient(
        circle at 29% 59%,
        rgba(255, 255, 0, 0) 10%,
        rgba(220, 247, 244, 0.15) 29%,
        rgba(220, 247, 244, 0.28) 43%,
        rgba(220, 247, 244, 0.18) 62%,
        rgba(0, 188, 212, 0) 84%,
        rgba(220, 247, 244, 0) 100%
    ) !important;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
